<mat-sidenav-container class="app-drawer-container">
  <mat-sidenav class="app-drawer mat-elevation-z10" #sidenav [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">

    <mat-toolbar color="primary">Contacts</mat-toolbar>

    <mat-nav-list>
      <mat-list-item *ngFor="let user of users | async">
        <a matLine [routerLink]="['/contactmanager',user.id]">
          {{ user.name }}
        </a>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content class="app-drawer-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
